html {
    font-family: Raleway, sans-serif;
}

header {
    margin-left: 3%;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav {
    display: flex;
    flex-wrap: wrap;
}

#nav a{
    color: blue;
    text-decoration: none;
}

#nav p{
    padding: 0px, 20px;
}

h1 {
    margin-bottom: -1rem;
}

.search {
    display: flex;
}

.marker {
    background-color: lightgrey;
    height: 23px;
    width: 33px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    text-align: center;
    padding-top: 12px;
    vertical-align: middle;
    margin-left: -6px;
    font-size: 0.75rem;
}